MONGO_URI=mongodb+srv://AyushKiyo:Wfo7beDQBg18SJmo@backendproj01.k6vptan.mongodb.net/ClgSiteDB
CORS_ORIGIN=http://localhost:5173,http://localhost:3000
JWT_SECRET=48c14e5f8005939907a9ea7c3d8af29496c198648bf5bc14ee04b3e929a80703
JWT_EXPIRES_IN=7d
PORT=3000
